body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    
}

button {
    font-family: inherit;
}

/* Start header */

.header {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1F2937;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 40px;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: auto;
}

/* End header */


/* Start content1 */

.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    background-color: #1F2937;
}

.content-1-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 40px;
}

.content-1 .title-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    
}

.content-1 p {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 100%;
}

.signup {
    width: fit-content;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 4px 40px;
    font-size: small;
    font-weight: 700;
    border: none;
    font-size: large;
    flex-shrink: 0;
}

.main-image {
    width: auto;
    height: 100%;

    object-fit: contain;
}

/* End content1*/


/* Start content2 */

.content-2 {
    background-color: #ffffff;
    
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.random-information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.ilus-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: 3px solid;
    border-color: #3882F6;
    padding: 5px;
}

/* End content2*/


/* Start content3 */

.content-3 {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}

.inspiring-quote {
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-size: large;
    font-weight: bolder;
    text-align: right;
}

/* End content3*/

/* Start content4 */

.content-4 {
    margin: 80px 15%;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 20px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-call {
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
}

.indication {
    color: #ffffff;
    font-size: large;
}

.signup.white-border {

    border: solid 2px #ffffff;
}

/* End content4*/

/* Start Bottom */

.bottom {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}